
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking Oteller için şehir Id bilgisini getirme</h1>
<br /> 
<form method="post">
<label>Şehir Adını Giriniz</label> 
<input type="text" class="form-control" name="p" /> 
<br /> 
<button class="btn btn-btn-outline-primary">Şehir Id getir</button>
</form>